<head>
    <title>Registration Numbers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/registration_number.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/reg_numbers">Registration Numbers</a>
            </div>
            <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="/reg_numbers">Home</a></li> -->
                <!-- <li><a href="https://gideon877.github.io/portfolio/">Contact</a></li> -->
            </ul>
        </div>
    </nav>
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">

            </div>
            <div class="col-md-6 col-sm-8" style="font-size:16px;">
                {{#if messages.error}}
                    <div class="error">
                        {{messages.error}}
                        <br>
                        <br>
                    </div>

                {{/if}}

                {{#if messages.success}}
                    <div class="success">
                        {{message.success}}
                        <br>
                        <br>
                    </div>
                {{/if}}
            </div>

        </div>
    </div> -->


    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div>
                    {{#if messages.error}}
                    <div class="error">
                        {{messages.error}}
                        <br>
                        <br>
                    </div>

                    {{/if}}

                    {{#if messages.success}}
                    <div class="success">
                        {{message.success}}
                        <br>
                        <br>
                    </div>
                    {{/if}}
                </div>

            </div>
            <div class="col-md-10 col-sm-9">
                <form action="/reg_numbers" method="post" class="form-horizontal">
                    <fieldset>

                        <div class="form-group">
                            <div class="form-inline">
                                <div class="">

                                    <input type="text" name="reg_number" class="form-control" placeholder="Enter registration number" required maxlength="10">
                                    <button id="myAddButton" class="btn btn-prima" data-toggle="tooltip" data-placement="left" title="Add new registration number.">Add</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>


                <legend>Select Location</legend>
                <form class="filterData" action="/filter" method="post">

                    <div class="radio">
                        <label><input type="radio" name="location" value="bellville">Bellville</label>
                    </div>

                    <div class="radio">
                        <label><input type="radio" name="location" value="capetown">Cape Town</label>
                    </div>

                    <div class="radio">
                        <label><input type="radio" name="location" value="paarl">Paarl</label>
                    </div>

                    <div class="radio">
                        <label><input type="radio" name="location" value="all">All</label>
                    </div>

                    <button type="submit" class="btn btn-prima" id="myAddButton">Filter</button>

                </form>
                <hr>
                {{#each reg_num}}
                <ul class="myReg">
                    {{this.reg_number}}<br>
                </ul>
                {{/each}}
            </div
        </div>
        <hr>
        <!-- <div class="container">
            {{#each reg_num}}
            <ul class="myReg">
                {{this.reg_number}}<br>
            </ul>
            {{/each}}

        </div> -->
    </div>

</body>
